  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url('imagem.id2.jpeg');
  }

  /* Estilos de contêiner */

  #container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  /* Estilos de perguntas */

  #pergunta {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  /* Estilos de opções */

  #opcoes {
    margin-top: 50px;
  }

  #opcoes button {
    width: 200px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  #opcoes button:hover {
    background-color: #ffffff;

  }

  #opcoes button:active {
    transform: scale(0.9);
  }

  /* Estilos de resultado */

  #resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* ajuste a altura ao seu gosto */
    background-color: #39a650;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #ffffff;
  }

  footer p {
    margin-bottom: 10px;
  }

  #tela-de-inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }


  #titulo {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }

  #subtitulo {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
  }

  #botao-iniciar {
    background-color: #39a650;
    color: #bb2121;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #botao-iniciar:hover {
    background-color: #39a650;
  }

  .title {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    background-color: #39a650;
    /* Cor do fundo do título */
    padding: 20px;
    text-align: center;
    color: #ffffff
  }

  .leaf-animation {
    position: fixed;
    top: -50px;
    animation: falling 10s linear infinite;
    z-index: -1;
  }

  @keyframes falling {
    0% {
      transform: translateY(-50px) rotate(0deg);
    }

    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }
